* {
    box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  /* padding: 5px 50px; */
  margin: 0;
  /* text-align: center; */
  /* box-sizing: border-box; */
}

/* @media (max-width: 1000px) {
   .top, .container-one, .container-two {
     padding: 0;
     width: 100%;
   }
} */

.top,
.container-one,
.container-two,
.bottom {
    padding: 0 15%;
}

img {
    object-fit: cover;
}

.top {
    display: flex;
    background-color: #1F2937; /*add to .footer*/
    color: white;
    flex-direction: column;
    /* padding: 0 100px; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: nowrap; */
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.hero {
    display: flex;
    width: 100%;
    height: 75%;
    flex-wrap: wrap;
}


.light-grey {
    color: #E5E7EB;
}

.top-left {
    padding-right: 35px;
    /* width: 800px; */
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/

}

.top-right {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}


.top-left,
.top-right {
    flex: auto;
    width: 50%;
    height: 50%;
    min-width: 650px;
    min-height: 400px;
}

.header,
.hero {
    padding-bottom: 100px;
}

.hero-text {
    font-size: 48px;
    font-weight: 800;
}

.button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 5px 25px;
    width: 100px;
}

.image-top {
    width: 100%;
    height: 100%;
}

p,
button {
    padding: 0;
    margin: 0 0 5px 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}
/*second section*/


.container-one {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    text-align: center;
    padding: 30px;
}

.h2 {
   font-size: 36px;
   font-weight: 900;
   color: #1F2937;
}

.image-text {
   display: flex;
   justify-content: center;
   gap: 25px;
   /* width: 100%; */
   flex-wrap: wrap;
}

.info-item {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    /* flex: auto; */
}

.h2,
.image-text {
    margin-bottom: 30px;
}

.info-image {
    border: 3px solid #3882F6;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    /* min-width: 200px; */
    /* min-height: 200px; */
    /* max-width: 200px; */
    /* max-height: 200px; */
    /* flex: 1 1 200px; */

}



/*section 3*/
.container-two {
    background-color: #E5E7EB;
    padding: 60px 300px;
    display: flex;
    justify-content: center;

}

.quote {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0 auto;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    /* flex-wrap: wrap; */
    max-width: 800px;
    min-width: 400px;
}

.author {
    text-align: right;
}


/*BOTTOM SECTION(4)*/

.bottom {
   padding: 60px 15%;
}

.inner-container {
   background-color: #3882F6;
   color: #F9FAF8;
   border-radius: 8px;
   padding: 40px 60px;
   display: flex;
   /* justify-content: space-between; */
   align-items: center;
   /* margin: 0 100px; */  /*too large in minimised window*/
   gap: 50px;
}

.bottom-button {
    border: 1px solid #F9FAF8;
}

