body {
  display: flex;
  flex-direction: column;
  /* padding: 5px 50px; */
  margin: 0;
}

.top {
    display: flex;
    background-color: #1F2937; /*add to .footer*/
    color: white;
    flex-direction: column;
    padding: 0 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: nowrap; */
}

.hero {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.top-left {
    padding-right: 20px;
}